async-generator==1.10
attrs==21.4.0
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.15.0
chardet==4.0.0
colorama==0.4.4
configparser==5.2.0
crayons==0.4.0
cryptography==36.0.1
dnspython==2.1.0
h11==0.13.0
idna==2.10
outcome==1.1.0
pycparser==2.21
pymongo==3.11.2
pyOpenSSL==22.0.0
python-dotenv==0.15.0
requests==2.25.1
selenium==3.141.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.1
trio==0.19.0
trio-websocket==0.9.2
urllib3==1.26.2
webdriver-manager==3.5.2
wsproto==1.0.0
